[Unit]
Description=IPMI SEL Logging Service

[Service]
Restart=always
ExecStart=/usr/bin/sel-logger
Type=simple
SyslogIdentifier=phosphor-sel-logger

[Install]
WantedBy=multi-user.target
